.header-top{
    width: 100%;
    height: 40px;
    background-color: green;
}
.header-top-dd{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.header-top:after {
    content: "";
    display: block;
    clear: both;
}

.dd-left{
    float: left;
}
.dd-left a{
    font-size: 20px;
    color: white;
    line-height: 40px;
}
.dd-right{
    float: right;
}
.dd-right li{
    float: left;
    padding: 0 0 0 20px;
}
.dd-right li a{
    font-size: 16px;
    color: white;
    line-height: 40px;
}
.dd-right li .denglu{
    color:red;
}
.header-bottom{
    width: 100%;
    height:110px;
    border:1px solid black;
    box-sizing: border-box;
    overflow: hidden;

}
.header-bottom-qq{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
}
.header-bottom:after {
    content: "";
    display: block;
    clear: both;
}

.qq-left{
    width: 300px;
    height: 110px;
    float: left;
    font-size: 80px;
    color: green;
    line-height: 110px;
    padding-left: 60px;

}
.qq-center{
    float: left;
    width: 500px;
    height: 44px;
    margin:0 auto;
    padding: 33px 0;

}
.qq-center input{
    float: left;
    width: 420px;
    height: 44px;
    border:2px solid green;
    border-radius: 5px 0 0 5px;
    outline: none;
    box-sizing: border-box;
    padding-left:10px;
}
.qq-center button{
    float: left;
    width: 70px;
    height: 44px;
    border-radius: 0 5px 5px 0;
    background-color: green;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}
.qq-right{
    float: left;
    width: 330px;
    height: 110px;
}
.qq-right a{
    float: right;
    font-size: 80px;
    color: red;
    line-height: 110px;
}

/*导航栏的样式*/

.navigationView{
    width: 100%;
    height:40px;
    background-color: green;
}

.navigation{
    width: 1200px;
    height:40px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.navigation li{
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.navigation li a{
    font-size: 18px;
    color: white;
}

.navigation li:hover{
    background-color: red;
}

/*让导航栏固定在顶部*/
.fixednav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

/*返回顶部按钮*/
.back-to-top {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom:60px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10%;
    box-sizing: border-box;
    overflow: hidden;
}
.back-to-top a{
    font-size: 80px;
    color: white;
}

/*底部 信息*/
.footer-nav{
    width: 100%;
    height: 250px;
    background-color: #444444;
    float:left;
}
.footer-nav-w{
    width: 1200px;
    height: 250px;
    margin: auto;
}


.footer-w-left{
    width: 500px;
    height: 250px;
    float:left;
}
.footer-w-left > ul li{
    padding:10px 0;
    color: white;
}
.footer-left-left {
    float:left;
    padding: 40px 0 0 100px;
}
.footer-left-right{
    float:right;
    padding: 40px 100px 0 0;
}
.footer-left-left-1{
    font-size: 20px;
}
.footer-left-right-1{
    font-size: 20px;
}


.footer-w-center{
    width: 200px;
    height: 250px;
    float:left;
}
.footer-center-top{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px 0 0 0;
}
.footer-center-bottom{
    width: 120px;
    height: 170px;
    margin:0 auto;
    padding: 38px 0 0 0;
}


.footer-w-right{
    width: 500px;
    height: 250px;
    float:left;
}
.footer-w-right > ul li{
    padding:10px 0;
    color: white;
}
.footer-right-left{
    float:left;
    padding:40px 0 0 100px;
}
.footer-right-right{
    float: right;
    padding: 40px 100px 0 0;
}
.footer-right-left-1{
    font-size:20px;
}
.footer-right-right-1{
    font-size:20px;
}

.footer-nbv{
    width:100%;
    height:130px;
    background-color:#444444;
    float:left;
}
.footer-nbv-top{
    width: 1200px;
    height: 70px;
    margin:0 auto;
    overflow: hidden;
}

.footer-nbv-top-1{
    width:1200px;
    height:50px;
}
.footer-nbv-top-1 li{
    float:left;
    color: #999983;
    padding:35px 10px 0 11px;
}
.footer-nbv-top-2{
    width:840px;
    height:20px;
    margin:0 auto;
}
.footer-nbv-top-2 li{
    float: left;
    color: #999983;
    padding:0 10px 0 10px;
}


.footer-nbv-bottom{
    width: 1200px;
    height:60px;
    margin:0 auto;
}
.footer-nbv-bootm-1{
    text-align: center;
    font-size: 15px;
    padding:15px 0 0 0 ;
    color: #999983;
}
